{% extends "shop/base.html" %}
{% load static %}

{% block css-files %} 
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}" />
{% endblock %}

{% block title %}
  Корзина покупок
{% endblock %}


{% block content %}
  <p class="myshop">Мій кошик</p>
  {% if cart %}
    <table  class="alingcenter" width="99%" > 
      <thead>
      <tr class="headercolor">
        <td><div class="cell">Видалити</div></td>
        <td><div class="cell">Фото</div></td>
        <td><div class="cell">Товар</div></td>
        <td><div class="cell">Обновити Кількість</div></td>
        <td><div class="cell">Ціна за шт</div></td>
        <td><div class="cell">Загальна сума</div></td>
      </tr>
      
      </thead>
      <tbody class="colortable2">
        {% for item in cart %}
          {% with product=item.product %}
            <tr class="mobila">
              <td class="delete_order"><a class="color" href="{% url 'cart:cart_remove' product.id %}"><i class="fa-solid fa-trash-can"></i></a></td>
              <td class="image_order">
                <a href="{{ product.get_absolute_url }}">
                  <img class="size-img" src="{% if product.main_image %}{{ product.main_image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
              </td>
              <td><div class="product_name">{{ product.name }}</div></td>
              <td>
                <form  action="{% url 'cart:cart_add' product.id %}" method="post">
                  <div class="quantity-wrapper">
                    <div class="quantity">
                      {{ item.update_quantity_form.quantity }}
                    </div>
                </div>
                  {{ item.update_quantity_form.update }}
                  
                  {% csrf_token %}
                </form>
              </td>
              <td><p class="p">Ціна за шт:</p>{{ item.price }}грн.</td>
              <td ><p class="p">Загальна сума:</p>
                {{ item.total_price }}грн.</p></td>
            </tr>
          {% endwith %}
        {% endfor %}
      </tbody>
    </table>
    <div class="text-right">
      <td ><p class="text-right">До сплати: {{ cart.get_total_price }}грн.</p></td>
      <a class="colorhref" href="{% url 'order_create' %}" class="button">Оформити замовлення</a>
    </div>
    <hr><br><br>
  {% else %}
    <h1 class="empty-cart">У вас немає товарів у кошику</h1>
  {% endif %}
{% endblock %}
{% block js-files %} 
<script src="{% static 'cart/js/cart.js' %}" crossorigin="anonymous"></script> 
{% endblock %}