.order-form{
    width: 60%;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 20px 0px;
}

.order-chekbox{
    display: inline-block;
    align-items: center;
    font-size: 18px;
}

.order-chekbox > li{
    margin-bottom: 5px;
}

.order-chekbox > li > label > input{
    margin-right: 5px;
    transform:scale(1.3);
}

.order-form-item{
    margin-bottom: 20px;
}

.order-chekbox > li:last-child{
    margin: 0px;
}

.order-button{
    padding: 10px;
    width: 100%;
    background-color: #8B00FF;
    color: white;
    border: none;
    font-size: 18px;
}

.order-button:hover{
    background-color: #7C00AF;
    cursor: pointer;
}

.order-form-item > input{
    padding-left: 5px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 2px solid #8B00FF;
    box-shadow: 2px 2px 2px  #dfdfdf, -2px -2px 2px #dfdfdf;
}

/* ordrer-information */

.order-info-list{
    width: 40%;
    margin-left: 5px;
    background-color: #f8f8f8;
    margin: 20px 0px 20px 5px;
    padding: 10px;
}

.order-product-item{
    background-color: white;
    box-shadow: 2px 2px 2px  #dfdfdf, -2px -2px 2px #dfdfdf;
    margin-bottom: 20px;

}

.order-image-wrapper{
    height: 100%;
    width: 30%;
}

.order-product-image{
    max-height: 100%;
    max-width: 100%;
    padding: 5px;
}

.order-item-content{
    display: flex;
    align-items: center;
    height: 100px;
}

.order-item-name{
    width: 70%;
    padding: 5px;
}

.order-item-price{
    text-align: right;
    padding: 5px;
}

.order-total-price{
    background-color: #8B00FF;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: white;
}
