{% extends 'shop/base.html' %}
{% load static %}

{% block css-files %} 
    <link rel="stylesheet" href="{% static 'shop/css/login.css' %}" />
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="authentication-form">
        <form method="post">
            {% for f in form %}
            <div class="authentication-form-item">
                {{ f }}
                <div class="form-error">
                    {{ f.errors }}
                </div>
            </div>
            {% csrf_token %}
            {% endfor %}
            <button class="authentication-button" type="submit">Увійти</button>
        </form>
    </div>
</div>
{% endblock %}
